<main class="sheet mx-auto px-10 py-12 shadow-sheet">
  <header>{{{ tabs }}}</header>

  {{{ form }}}

  {{!-- <form class="form form--login flex flex-column gap-row-5 mt-8">
    {{{ inputLogin }}}
    {{{ inputPassword }}}
    {{{ button }}}
  </form> --}}
</main>
