<header>
  {{{ linkBack }}}
  <h1 class="text-title-2 mt-3 text-center">Ваш профиль</h1>
  {{{ avatar }}}
</header>

{{{ form }}}

<section class="mt-6">
  <a class="text-body-medium blue-dark" href="{{passwordChangePath}}">Сменить пароль</a>
  <hr class="settings__separator mt-3 bg-gray-lighter">
  {{{ buttonExit }}}
</section>
