<acticle class="chat-item flex gap-3 px-3 py-4 {{#if isActive}}chat-item--active bg-blue-lightest{{/if}}">
  {{{ avatar }}}
  <div class="chat-item__meta flex-grow-1 flex flex-wrap align-content-center gap-1">
    <div class="flex-full flex align-center">
      {{#if isGroup}}
      <img src="{{ iconGroup }}" width="14" height="14" class="mr-2">
      {{/if}}

      <span class="text-body-semi-bold">{{ title }}</span>
      <span class="ml-auto text-caption gray">{{ date }}</span>
    </div>
    <div class="flex-full flex align-baseline">
      {{#if name}}
      <span class="mr-1 text-body-medium gray-dark">{{ name }}:</span>
      {{/if}}

      <span class="chat-item__message gray">{{ message }}</span>

      {{#if unreadCount}}
      <span class="chat-item__unread ml-auto bg-blue white">{{ unreadCount }}</span>
      {{/if}}
    </div>
  </div>
</acticle>
