<{{ defaultValue tag 'nav' }} class="tabs {{ class }}">
  {{#each tabs}}
    {{#if (eq ../active-tab ./[handle])}}
    <span class="tab tab_current">{{./[name]}}</span>
    {{else}}
    <a class="tab tab_link blue-dark" href="{{./[path]}}">{{./[name]}}</a>
    {{/if}}
  {{/each}}
</{{ defaultValue tag 'nav' }}>
