<div class="dialog z-dialog fixed flex justify-center p-4 pt-12 pt-md-30">
  <div class="dialog__inner mb-auto px-6 pt-6 pb-7 bg-white shadow-sheet">
    <div class="flex justify-space-between align-center gap-8">
      <span class="text-title-3">{{ title }}</span>
      {{{ buttonClose }}}
    </div>

    <div class="mt-8">{{{ content }}}</div>

    <div class="flex gap-4 mt-10">
      {{{ cancelButton }}}
      {{{ confirmButton }}}
    </div>
  </div>
</div>
