<main class="sheet mx-auto px-10 pt-6 pb-12 shadow-sheet">
  <header>
    {{{ linkBack }}}
    <h1 class="text-title-2 mt-3 text-center">Смена пароля</h1>
  </header>

  <form class="form form--password flex flex-column gap-row-5 mt-8">
    {{{ inputOldPassword }}}
    {{{ inputNewPassword }}}
    {{{ inputNewPasswordConfirm }}}
    {{{ button }}}
  </form>
</main>
