<label class="
  avatar-wrapper relative flex-shrink-0 flex bg-gray-lightest
  {{#unless size}} avatar-wrapper--large {{/unless}}
  {{#if size}} avatar-wrapper--{{ size }} {{/if}}
  {{#unless imagePath}} p-2 {{/unless}}
  {{ class }}
">
  <img
    class="avatar m-auto"
    src="{{#if imagePath}}{{ imagePath }}{{else}}{{ imageAvatarDefault }}{{/if}}"
    alt=""
  >
  {{#if input}} {{{ input }}} {{/if}}
</label>
