<main class="sheet mx-auto px-10 py-12 shadow-sheet">
  <header>{{{ tabs }}}</header>

  <form class="form form--sign-up flex flex-column gap-row-5 mt-8">
    {{{ inputLogin }}}
    {{{ inputDisplayName }}}
    {{{ inputFirstName }}}
    {{{ inputSecondName }}}
    {{{ inputPhone }}}
    {{{ inputEmail }}}
    {{{ inputPassword }}}
    {{{ inputPasswordConfirm }}}
    {{{ button }}}
  </form>
</main>
