<label class="ui-text-field flex flex-wrap {{ class }}">
  <input
    type="{{ type }}"
    {{#if name}} name="{{name}}" {{/if}}
    {{#if inputmode}} inputmode="{{inputmode}}" {{/if}}
    {{#if placeholder}} placeholder="{{placeholder}}" {{/if}}
    {{#if value}} value="{{value}}" {{/if}}
    class="ui-text-field__input px-3 {{#if error}} ui-text-field__input--error {{/if}}"
  >

  <span class="
    ui-text-field__label mb-1 mb-md-0 text-right text-body-medium
    {{#if error}} ui-text-field__label--error {{/if}}
  ">
    {{ label }}
  </span>

  {{#if hint}}
  <span class="ui-text-field__hint flex-full mt-1 text-md-right text-body-medium gray">{{ hint }}</span>
  {{/if}}

  {{#if validate}}
  <span class="ui-text-field__error d-none flex-full mt-1 text-md-right text-body-medium red"></span>
  {{/if}}
</label>
